<section id="services">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">Cryto Currencies Exchange Service That you can Trust</h2>
        <hr class="my-4">
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-6 text-center">
        <div class="service-box mt-5 mx-auto">
          <i class="fa fa-4x fa-diamond text-primary mb-3 sr-icons"></i>
          <h3 class="mb-3">Secure</h3>
          <img class="img-fluid" src="img/portfolio/thumbnails/1.jpg" alt="">
          <p class="text-muted mb-0">Security is Number 1 priority. Most funds are held in cold storage. Which are not accessible by anyone.
          Withdrawals are processed manually.
          </p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 text-center">
        <div class="service-box mt-5 mx-auto">
          <i class="fa fa-4x fa-paper-plane text-primary mb-3 sr-icons"></i>
          <h3 class="mb-3">Fast</h3>
          <img class="img-fluid" src="img/portfolio/thumbnails/2.jpg" alt="">
          <p class="text-muted mb-0">We are using Ruby on Rails Technology, which is faster than other technologies, as we serve static pages for most of things.
          Which makes it faster, orders are processed in milli seconds.</p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 text-center">
        <div class="service-box mt-5 mx-auto">
          <i class="fa fa-4x fa-newspaper-o text-primary mb-3 sr-icons"></i>
          <h3 class="mb-3">Active</h3>
          <img class="img-fluid" src="img/portfolio/thumbnails/3.jpg" alt="">
          <p class="text-muted mb-0">We are constantly making exchange better, in terms of security, usability and efficiency. Our experience development team
          constantly working together to make it better.</p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 text-center">
        <div class="service-box mt-5 mx-auto">
          <i class="fa fa-4x fa-heart text-primary mb-3 sr-icons"></i>
          <h3 class="mb-3">0.1% Fees</h3>
          <img class="img-fluid" src="img/portfolio/thumbnails/4.jpg" alt="">
          <p class="text-muted mb-0">Our exchange fees are 0.1% of Trade, Which is charged to pay to developers who work on constantly improving the source.
          We are based upon open source exchange. and our fork is open source too. </p>
        </div>
      </div>
    </div>
  </div>
</section>

