
<section class="bg-primary" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto text-center">
        <h2 class="section-heading text-white">Crypto exchange market| BeryXchange</h2>
        <hr class="light my-4">
        <p class="text-faded mb-4">We are Fast, We are secure, We are reliable. . and supporting more than 50 crypto currencies.</p>
        <a class="btn btn-light btn-xl js-scroll-trigger" href="#services">Get Started!</a>
      </div>
    </div>
  </div>
</section>


